input.text {
  width: 50px;
}
#Form_Form_EditableTextField1 { width: 300px; }
#Form_Form_EditableTextField2 { width: 300px; }
#Form_Form_EditableTextField3 { width: 300px; }
#Form_Form_EditableTextField4 { width: 300px; }
#Form_Form_EditableTextField5 { width: 300px; }
#Form_Form_EditableTextField6 { width: 300px; }
#Form_Form_EditableTextField7 { width: 300px; }
#Form_Form_EditableEmailField8 { width: 300px; }
#Form_Form_EditableTextField9 { width: 300px; }
#Form_Form_EditableTextField10 { width: 300px; }
#Form_Form_EditableTextField11 { width: 300px; }
#Form_Form_EditableTextField12 { width: 300px; }
#Form_Form_EditableTextField13 { width: 300px; }